CustomerSite/CustomerSite/Web References/CustomerWebservice/BlogService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BlogService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/service/BlogService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/service/BlogService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBlogService_HelloBloggers_InputMessage">
    <wsdl:part name="parameters" element="tns:HelloBloggers" />
  </wsdl:message>
  <wsdl:message name="IBlogService_HelloBloggers_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloBloggersResponse" />
  </wsdl:message>
  <wsdl:message name="IBlogService_PostNewEntry_InputMessage">
    <wsdl:part name="parameters" element="tns:PostNewEntry" />
  </wsdl:message>
  <wsdl:message name="IBlogService_PostNewEntry_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostNewEntryResponse" />
  </wsdl:message>
  <wsdl:message name="IBlogService_ReturnEntries_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnEntries" />
  </wsdl:message>
  <wsdl:message name="IBlogService_ReturnEntries_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnEntriesResponse" />
  </wsdl:message>
  <wsdl:portType name="IBlogService">
    <wsdl:operation name="HelloBloggers">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogService/HelloBloggers" message="tns:IBlogService_HelloBloggers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogService/HelloBloggersResponse" message="tns:IBlogService_HelloBloggers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostNewEntry">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogService/PostNewEntry" message="tns:IBlogService_PostNewEntry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogService/PostNewEntryResponse" message="tns:IBlogService_PostNewEntry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnEntries">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogService/ReturnEntries" message="tns:IBlogService_ReturnEntries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogService/ReturnEntriesResponse" message="tns:IBlogService_ReturnEntries_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBlogService" type="tns:IBlogService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloBloggers">
      <soap:operation soapAction="http://tempuri.org/IBlogService/HelloBloggers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostNewEntry">
      <soap:operation soapAction="http://tempuri.org/IBlogService/PostNewEntry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnEntries">
      <soap:operation soapAction="http://tempuri.org/IBlogService/ReturnEntries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BlogService">
    <wsdl:port name="BasicHttpBinding_IBlogService" binding="tns:BasicHttpBinding_IBlogService">
      <soap:address location="http://localhost/service/BlogService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>